.row
  .span-one-third
    %h1
      =@line.name
      =color_indicator(@line)
    -# someday write a bunch of descriptions for the lines, they can go here
  .span-one-third
    %h2 Stops at:
    =render :partial => "stops", :locals => { :line => @line }