.row
  .span-one-third
    %h1
      =@line.name
      =color_indicator(@line)
    %p
      Maybe sometime put some descriptive text about each line in here? Something
      like "The Gold Line was built in blah blah and serves Pasadena and East LA
      via Union Station"
  .span-one-thirds
    %h2 Stops at:
    =render :partial => "stops", :locals => { :line => @line }