.page-header
  %h1
    ="'#{@term}' near "
    =short_station_listing(@station, :link_to => true)
-@businesses.each do |b|
  .row
    .search-result.span12
      = render :partial => "business/search_listing", :locals => { :business => b, :station => @station }
%hr
.row
  .api-credits.span12
    %p
      =powered_by_yelp