.topbar
  .fill
    .container
      %a.brand(href="/")Untitled
      %ul.nav
        %li=link_to "Lines", lines_path
        %li
          %a(href="#")Stations
      %form.pull-right
        %input.span4(type="text" placeholder="Search for...")
        %input.span4(type="text" placeholder="Near...")