.topbar
  .fill
    .container
      %a.brand(href="/")Untitled
      %ul.nav
        %li
          %a(href="#")Lines
        %li
          %a(href="#")Stations
        %li
          %a(href="#")blah blah
      %form.pull-right
        %input(type="text" placeholder="Search...")